* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* NAVBAR___________________________ */
.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  z-index: 2;
}
.navbar ul li {
  display: inline-block;
  margin-right: 50px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
}
.navbar ul li a:hover {
  text-decoration: underline;
}
.navbar ul li a.active {
  color: #6ac6ac;
  text-decoration: none;
  cursor: default;
}
.join {
  width: 120px;
  height: 43px;
  background-color: transparent;
  border: 3px solid #6ac6ac;
  color: #6ac6ac;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.join:hover {
  background-color: #6ac6ac;
  color: white;
  transition: 0.3s;
}
.ham {
  display: none;
  padding: 5px;
  border-radius: 50%;
}
.ham:active {
  background-color: rgba(0, 0, 0);
}
.ham-menu {
  position: fixed;
  top: -350px;
  display: block;
  width: 100%;
  height: fit-content;
  transition: 0.3s;
  z-index: 1;
}
.hm-muncul {
  transform: translateY(430px);
  transition: 0.3s;
}
.ham-menu ul li a {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 70px;
  text-decoration: none;
  color: #20493c;
  font-weight: 600;
}
.ham-menu ul li a.active {
  background-color: #6ac6ac;
}
@media (width < 1200px) {
  .navbar {
    padding: 20px;
  }
  .navbar ul,
  .join {
    display: none;
  }
  .ham {
    display: block;
  }
}
/* Footer___________________________ */
.footer {
  width: 100%;
  height: 40vh;
  background-color: #20493c;
  padding: 0 150px;
}
.footer-atas {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu {
  display: flex;
  gap: 50px;
}
.footer-menu ul li {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.footer-menu ul a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.footer-menu ul a:hover {
  text-decoration: underline;
}
.abc {
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-bottom: 1px solid white;
}
.abc:hover {
  background-color: #2d6e58;
}
.footer-bawah {
  width: 100%;
  height: 20%;
  display: grid;
}
.footer-bawah p {
  place-self: center;
  color: grey;
}
@media (width < 600px) {
  .footer {
    height: fit-content;
    padding: 30px 20px;
  }
  .footer-atas {
    height: fit-content;
    flex-direction: column;
    gap: 50px;
  }
  .footer-menu {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-bawah {
    height: 100px;
    text-align: center;
  }
}
/* Home___________________________ */
.home-cover {
  width: 100%;
  height: 100vh;
  background: url("./home-cover.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.cover-dark {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.7);
}
